.FacilityHeading{
    text-align:center;
    padding-top: 50px;
    font-weight: bold;
    color: rgb(6,77,77);
}

.Facility-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #9db4c0;
}

.Facility-container .card{
    width: 250px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.Facility-container i{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Facility-container .card:hover{
    cursor: pointer;
    background-color: rgb(7,158,158);
    color: white;
}